.page-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 20px);
  padding: 10px 80px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-link {
  display: flex;
  align-items: center;
  color: #00dddd;
}

.logo img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.logo a {
  text-decoration: none;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cta a[mat-flat-button] {
  text-decoration: none;
}
