.article {
  padding: 40px 80px;
}

.article-content {
  font-size: 20px;
  margin-right: 40px;
}

.article-heading {
  font-size: 30px;
}

.article-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.article-img {
  min-height: 600px;
  width: 800px;
  object-fit: cover;
  box-shadow: 0 0 133px -22px rgba(0, 221, 221, 0.2);
  border-radius: 10px;
  border: 1px solid #e1e1e1;
}
