:host {
  .myths {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .title {
      padding: 20px;
      font-size: 36px;
      color: #a800e0;
    }

    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 800px;

      button {
        padding: 23px 75px;
      }
    }

    ::ng-deep {
      .NgxEditor__Wrapper {
        width: 800px;
        box-shadow: 0 0 133px 25px rgba(180, 0, 221, 0.2);
        border-radius: 20px;
      }
      .NgxEditor {
        height: 500px;
        width: 800px;
      }
    }
  }
}
